:host {
  display: block;
  margin: 0 2rem;
}

header {
  padding: 2rem;
  text-align: center;
  font-size: x-large;
}

nav {
  margin-top: 1rem;
}

a {
  text-decoration: none;
  font-size: medium;
  margin: 0 1rem;
}
